/* this peace of code responsable for making all tables in the mid*/
/*.content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
  .markdown-section {
    flex: 1 1 0%; 
    margin: 0 48px;
  }*/
/*scrollbar design*/
::-webkit-scrollbar{
        width:4px;
        height:2px;
      }
::-webkit-scrollbar-thumb{
        /*background: linear-gradient(
          to bottom,
          #006eff,
          #006eff
        );*/
        background: #006eff;
        border-radius: 50px;
      }
::-webkit-scrollbar-track{
        background: transparent;
      }
/*Responsable for changing the selected text design*/
::selection{
        background: #006eff;
        color: #ffffff;
      }
p::selection{
        background: #006eff;
        color: #ffffff;
      }
/*Designing the sidebar scroll*/
.sidebar::-webkit-scrollbar {
    width:4px;
    height:2px;
    }
    
.sidebar::-webkit-scrollbar-thumb {
        background: transparent;
        border-radius: 50px;
    }
    
.sidebar:hover::-webkit-scrollbar-thumb {
        background: #006eff
    }
    
.sidebar:hover::-webkit-scrollbar-track {
        background: transparent
    }  
/*Search design*/
.search input {
        width: 95% !important;
        border-radius: 60px;
        text-indent: 20px;
}  
.sidebar ul li a {
    color: var(--sidebarSublink);
    font-size: 16px;
    font-weight: 400;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
/*.search .matching-post{
    width: 100% !important;
    text-indent: 20px;
}
.search p{
    padding-left: 6px;
    padding-bottom: 6px;
}*/
.search .results-panel{
	margin: 0 auto;
	color: var(--textColor);
	width: 100% !important;
	text-indent: 15px;
}

.search input:hover{
    box-shadow: 0 0 5px var(--theme-color)
}
/*Change the table design*/
/*.markdown-section table {
	border-collapse: collapse;
    font-size: 0.9rem;
	overflow: hidden;
    align-self: center;

}
.markdown-section tr .active-row {
	font-weight: bold;
    color: #006eff;
}

/*------------------------------------------------------------------------*/
.sidebar .search .input-wrap{
    align-items:stretch;
    margin:var(--search-input-margin);
    background-color:var(--search-input-background-color);
    border-width:var(--search-input-border-width, 0);
    border-style:solid;
    border-color:var(--search-input-border-color);
    border-radius:var(--search-input-border-radius)
}
.sidebar .search input[type=search]{
    min-width:0;
    padding:var(--search-input-padding);
    border:none;
    background-color:rgba(0,0,0,0);
    background-image:var(--search-input-background-image);
    background-position:var(--search-input-background-position);
    background-repeat:var(--search-input-background-repeat);
    background-size:var(--search-input-background-size);
    font-size:var(--search-input-font-size);
    color:var(--search-input-color);
    transition:var(--search-input-transition)
}
.sidebar .search input[type=search]::-ms-clear{
    display:none
}
.sidebar .search input[type=search]::-moz-placeholder{
    color:var(--search-input-placeholder-color, #808080)
}
.sidebar .search input[type=search]::placeholder{
    color:var(--search-input-placeholder-color, #808080)
}
.sidebar .search input[type=search]::-webkit-input-placeholder{
    line-height:normal
}
.sidebar .search input[type=search]:focus{
    background-color:var(--search-input-background-color--focus, var(--search-input-background-color));
    background-image:var(--search-input-background-image--focus, var(--search-input-background-image));
    background-position:var(--search-input-background-position--focus, var(--search-input-background-position));
    background-size:var(--search-input-background-size--focus, var(--search-input-background-size))
}
@supports(width: env(safe-area-inset)){
    @media only screen and (orientation: landscape){
        .sidebar .search input[type=search]{
            margin-left:calc(env(safe-area-inset-left)/2)
        }
    }
}
.sidebar .search p{
    overflow:hidden;
    text-overflow:ellipsis;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2
}
.sidebar .search p:empty{
    text-align:center
}
.sidebar .search .clear-button{
    margin:0;
    padding:0 10px;
    border:none;
    line-height:1;
    background:rgba(0,0,0,0);
    cursor:pointer
}
.sidebar .search .clear-button svg circle{fill:var(--search-clear-icon-color1, #808080)}
.sidebar .search .clear-button svg path{stroke:var(--search-clear-icon-color2, #fff)}
.sidebar .search.show~*:not(h1){
    display:none
}
.sidebar .search .results-panel{
    display:none;
    color:var(--search-result-item-color);
    font-size:var(--search-result-item-font-size);
    font-weight:var(--search-result-item-font-weight)
}
.center-body{
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    z-index: 10;
}
.loader-triangle-3{
    stroke: #0861d6;
    stroke: #fff;
    stroke-dasharray: 17;
    animation: anm-tr-3-move 1.5s
        cubic-bezier( 0.35, 0.04, 0.63, 0.95) infinite;

}

@keyframes anm-tr-3-move{
    to{
        stroke-dashoffset: -136;
    }
}
	
div#app:empty:before {
    display: none !important;
}
/*-----------language-----------*/
.app-nav li ul a {
    color: #00022F;
}
.app-nav li ul a:hover {
    color: #006EFF;
}
.app-nav li ul a:active {
    color: #006EFF;
}